In [ ]:
a="""Hello
welcome
to
python"""
print(a[0])
print(a[-5])
print(a[-1])
print(a)
text="Python"
print(text[0:3])
print(text[2:])
print(text[:3])

print(a+text)
print("Hi" *3)

print(text.upper())
print(a.replace("python","java"))

print(len(a))

In [ ]:
print(len(a))

print("a" not  in "apple")
s1="I am {0} ans I am {1} old".format("hema",30)
print(s1)

s2=a.split()
print(s2)

In [ ]:
print("Hello")

_x=input("Enter your age")
if(int(_x)>18):
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

a=10
b=30

In [ ]:
import math
print(math.sqrt(9))
print(math.log(100))
print(math.gamma(100))

In [ ]:
a=100
b=30
print("Addition",a+b)
print("Subraction",a-b)
print("Multiplication",a*b)
print("Division",a/b)
print("Modules",a%b)
print("Floor division",a//b)

In [6]:
numbers = [10,20,30,40]
names = ["Ram","Hari","Ramhya"]
mixed = [1,"Python",3.5,True]

print(numbers)
print(names)
print(mixed)

numbers[1] = 100
print(numbers)

for i in numbers:
    print(i)

if 10 in numbers:
    print("found")

matrix=[[1,2,3],[4,5,6]]
print(matrix[1][2])

names.reverse()
print(names)

names.append("kalai")
print(names)

names.extend(["pavan","leela"])
print(names)

names.remove("kalai")

print(names)

names.insert(3,"uma")

[10, 20, 30, 40]
['Ram', 'Hari', 'Ramhya']
[1, 'Python', 3.5, True]
[10, 100, 30, 40]
10
100
30
40
found
6
['Ramhya', 'Hari', 'Ram']

In [ ]:
t1=(10,20,30,40,50,30)
t2="apple","orange","cherry"
print(t1[0])
print(t2[2])
print(t1[1:3])
print(t1[:2])
print(t1[3:])
#t1[2]=40;
print(t1)
print(t1.count(30))
print(t1.index(40))

a=5
b=10
a,b=b,a
print(a,b)

data=10,20,30
a,b,c=data
print(a,b,c)

In [ ]:
student={

    "name": "Rahul",
    "age": 20,
    "Course": "Python"

}
print(student)
print(student["name"])
print(student.get("age"))

student["Marks"]=85
student["age"]=25
print(student)
print(student["name"])
print(student.get("age"))
student.pop("age")
print(student)
student.popitem()
print(student)

print(student.keys())
print(student.values())


for key in student:
    print(key,student[key])

if "name" in student:
    print("key exists")

employees={

    101:{"name":"leena","salary":2000},
102:{"name":"leena","salary":2000},

}

print(employees[101]["name"])

In [ ]:
myset={1,2,3,4,5,3,2,1}
print(myset)

for i in myset:
    print(i)
myset.add(100)
print(myset)

A={1,2,3}
B={3,4,5}

print(A|B)
print(A&B)
print(2 in A)

In [ ]:
num=4
if num%2==0:
    print("Even")
else:
    print("Odd")
marks=80

if marks>=90:
    print("Grade A")
elif marks>=80:
    print("Grade B")
else:
    print("Grade C")

for i in range(1,6):
    print(i)

In [8]:
 j=1
while j<=5:
    print(j)
    j+=1
    if j==2:
        break

day=2
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")

    case 3:
        print("Wednesday")
    case 4:
        print("Thrusday")

1
Tuesday